body{
	background-color: #ebeded;
	font-family: 'Muli', sans-serif;
	font-color:  #343a40;
}

#mainNavbar{
	background-color: #6e1d57;
}

h1{
	font-size: 6rem;
	font-weight: 300;
    line-height: 1;
	font-family: 'Saira Extra Condensed', sans-serif;
}

.purple{
	color :#6e1d57;
}

section{
	/*display: flex;*/
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 75rem;
}

.subHeading{
	font-family: 'Saira Extra Condensed', sans-serif;
}

.socialIcon{
	display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}